.fa-star {
    margin: 0.5em;
    font-size: 10px;
}

span {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background-color: #CCC;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

span.selected {
    background-color: #eee;
    color:#dddddd;
    cursor: not-allowed;
}

span.used {
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}